header.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 1rem auto 2rem;

  box-shadow: none;
}

header.container img {
  width: 150px;
}

header.container p,
header.container h1 {
  text-align: center;
}

main.linktree .cards {
  margin: 1rem auto;
  flex-direction: column;
  align-items: center;
}

main.linktree .card > svg {
  position: absolute;
  left: 20px;
}

main.linktree .card {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  padding-left: 80px;
  max-width: 600px;
  transition: all 0.2s;
}

main.linktree .card.selected {
  background: rgba(0, 255, 221, 0.174);
  border: 1px solid rgba(0, 255, 221, 0.282);
}

main.linktree .card:hover {
  filter: brightness(0.7);
}

main.linktree .card svg {
  width: 40px;
  height: 40px;
}

footer.contact {
  background: none;
  margin: 2rem auto 1rem;
}

footer.contact nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

footer.contact nav a {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--blue-300);
  border-radius: 9999px;
  padding: 0.5rem;

  transition: all .2s;
}

footer.contact nav a:hover {
  filter: brightness(0.8)
}

footer.contact nav a svg {
  color: white;
  width: 20px;
  height: 20px;
}

footer,
header {
  position: relative;
}

.background-effect {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 999px;
  z-index: -99;

  background: rgba(255, 0, 136, 0.867);
  box-shadow: 0px 0px 200px 200px rgb(255, 0, 136);
  opacity: 0.2;
}

header .background-effect {
  background: rgba(255, 0, 136, 0.567);
  box-shadow: 0px 0px 200px 100px rgb(255, 0, 136);
  right: 0;
  z-index: inherit;
}

main .background-effect {
  background: rgba(0, 179, 255, 0.532);
  box-shadow: 0px 0px 200px 100px rgb(0, 157, 255);
  top: 60%;
  left: 60%;
}

@media (max-width: 767px) {
  main.linktree .card {
    max-width: 400px;
  }
}
