header {
  background-color: white;
  width: 100%;
  height: 6rem;
  display: flex;

  box-shadow: 0 2px rgba(0, 0, 0, 0.067);
}

header .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: white;
  z-index: 99;
}

header .container nav,
header .container .navbar {
  display: flex;
  gap: 2rem;
}

header .container nav a {
  align-items: center;
  justify-content: center;
  height: 6rem;
  display: flex;
  color: black;
}

header .mobile-nav,
header .active-navbar .link-mobile {
  display: none;
}

header .container nav a:hover {
  border-bottom: 3px solid var(--violet-800);
}

header .container nav a.active {
  border-bottom: 3px solid var(--violet-800);
}

@media (max-width: 535px) {
  header .container img {
    width: 60px;
  }

  header .container nav,
  header .primary-button {
    display: none;
    height: 0;
  }

  header .container nav > a {
    padding: 1rem 0.5rem;
  }

  header.active-navbar {
    position: fixed;
    z-index: 999;
    top: 0;
  }

  header .overlay {
    position: fixed;
    height: 0;
    width: 100%;
    background: #262c2beb;
    transition: height 0.4s ease-in-out;
    z-index: 97;
  }

  header .container .navbar {
    flex-direction: column;
  }

  header .container .active-navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 0;
    top: 0%;
    z-index: 99;
    transition: height 0.4s ease-in-out;
  }

  header .active-navbar,
  header .container .active-navbar {
    height: 100vh;
    display: flex;
  }

  header .container .active-navbar .navbar {
    background-color: white;
    padding: 2rem 8rem;
    font-size: 1.5rem;
    border-radius: 1rem;
  }

  header .mobile-nav,
  header .mobile-nav svg {
    display: block;
    z-index: 999;
    width: 25px;
    height: 25px;
    cursor: pointer;

    transition: all .2s;
  }

  header .mobile-nav svg:hover {
    color: rgb(155, 155, 155)
  }

  header .active-navbar .link-mobile {
    display: block;
  }

  header .container nav a.active {
    color: var(--violet-800);
  }
}
