.carousel,
.carousel {
  margin: 0 auto;
}

.carousel .slide img {
  max-width: 1600px;
  max-height: 450px;
  height: 100%;
}

.carousel a {
  display: inline-block;
  height: 100%;
  width: 100%;

  cursor: pointer;
}
